/*-----------------------------------------------------------------------------------

	Author: ENREDA
	Author URI: https://enreda.coop
	Version: 0.1

-----------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------

	Table Of Content
		
		00 Basics
		01 Forms
		02 Alerts
		03 Header
		04 Section Service
 
---------------------------------------------------------------- */
/* ----------------------------------------------------------------
	[ 00 Basics ]
-----------------------------------------------------------------*/
/* Basics */
.hidden {
	display: none;
	opacity: 0;
}
.show {
	display: initial;
	opacity: 1;
}

/* ----------------------------------------------------------------
	[ 01 Forms ]
-----------------------------------------------------------------*/
.custom-control-label a,
.download-link {
  color: var(--primary);
}
.custom-control-label a:hover,
.download-link:hover {
  color: var(--primary-hover);
}
.custom-control-input[type=checkbox] {
	vertical-align: middle;
  margin-bottom: 5px;
}
textarea.form-control {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

/* ----------------------------------------------------------------
	[ 02 Alerts ]
-----------------------------------------------------------------*/
.alert > button[data-dismiss=alert] {
  position: absolute;
  display: block;
  border: none;
  min-width: 10px !important;
  padding: 10px;
  right: 15px;
}

/* ----------------------------------------------------------------
	[ 03 Header ]
-----------------------------------------------------------------*/
.banner-area.auto-height.content-less {
  padding-top: 195px;
  padding-bottom: 95px;
}

/* ----------------------------------------------------------------
	[ 04 Section Service ]
-----------------------------------------------------------------*/
.services-area .services-items .item {
	height: 100%;
}
.services-area .services-items .item h4 {
	padding-bottom: 20px;
}