/*-----------------------------------------------------------------------------------

	Author: ENREDA
	Author URI: https://enreda.coop
	Version: 0.4

-----------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------

	Table Of Content
		
		00 Basics
		01 Forms
		02 Alerts
		03 Header
		04 Section Service
		05 Icons
		06 Modal
		07 Social networks
 
---------------------------------------------------------------- */
/* ----------------------------------------------------------------
	[ 00 Basics ]
-----------------------------------------------------------------*/
/* Basics */
.hidden {
	display: none;
	opacity: 0;
}
.show {
	display: initial;
	opacity: 1;
}

/* ----------------------------------------------------------------
	[ 01 Forms ]
-----------------------------------------------------------------*/
.custom-control-label a,
.download-link {
  color: var(--primary);
}
.custom-control-label a:hover,
.download-link:hover {
  color: var(--primary-hover);
}
.custom-control-input[type=checkbox] {
	vertical-align: middle;
  margin-bottom: 5px;
}
textarea.form-control {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}

/* ----------------------------------------------------------------
	[ 02 Alerts ]
-----------------------------------------------------------------*/
.alert > button[data-dismiss=alert] {
  position: absolute;
  display: block;
  border: none;
  min-width: 10px !important;
  padding: 10px;
  right: 15px;
}

/* ----------------------------------------------------------------
	[ 03 Header ]
-----------------------------------------------------------------*/
.banner-area.auto-height.content-less {
  padding-top: 195px;
  padding-bottom: 95px;
}

/* ----------------------------------------------------------------
	[ 04 Section Service ]
-----------------------------------------------------------------*/
.services-area .services-items .item {
	height: 100%;
}
.services-area .services-items .item h4 {
	padding-bottom: 20px;
}

/* ----------------------------------------------------------------
	[ 05 Icons ]
-----------------------------------------------------------------*/
.video-play-button {
	padding: 0px;
}
	.video-play-button i {
    left: -2px;
	}

/* ----------------------------------------------------------------
	[ 06 Modal ]
-----------------------------------------------------------------*/
#blog-modal .modal-body {
	padding: 0px;
}
	#blog-modal .modal-body > p {
		margin: 5px 15px;
	}
	#blog-modal .modal-body > figure {
		margin-bottom: 30px;
	}
		#blog-modal .modal-body > figure > img {
      width: 100%;
    }

/* ----------------------------------------------------------------
  [ 07 Social networks ]
-----------------------------------------------------------------*/
.block-networks {
  float: left;
}
  .block-networks .fa-stack {
    font-size: 17px;
  }

.btn-share.facebook {
  color: #3b5998;
}
  .btn-share.facebook:hover {
    color: #2d4373;
  }
.btn-share.twitter {
  color: #55acee;
}
  .btn-share.twitter:hover {
    color: #2795e9;
  }
.btn-share.whatsapp {
  color: #25D366;
}
  .btn-share.whatsapp:hover {
    color: #1da851;
  }
.btn-share.telegram {
  color: #54A9EB;
}
  .btn-share.telegram:hover {
    color: #4B97D1;
  }
.btn-share.linkedin {
  color: #0077b5;
}
  .btn-share.linkedin:hover {
    color: #046293;
  }

/* ----------------------------------------------------------------
  [ 08 Blog ]
-----------------------------------------------------------------*/
.single-item {
	cursor: pointer;
}